$black: #000000;
$grey-dark: #595959;
$grey-light: #9b9b9b;
$grey-light-2: #e2e8f0;
$grey-light-3: #f4f4f4;
$white: #ffffff;
$blue: #307fe2;
$blue-light: #e1eeff;
$green: #208060;
$green-light: #d4edda;
$red: #f33030;
$orange: #ef6000;
